.content {
  margin: {
    top: $content-margin-top;
  }
}

.banner {
  overflow: hidden;
  height: $baner-heigth;
  position: relative;
  > img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }
}

.banner-title {
  padding: $baner-title-padding;
  width: $baner-title-width;
  > h1 {
    font: {
      size: $baner-title-h1-font-size;
    }
    line-height: 1.5;
    color: white;
  }
}

.col-no-padding {
  padding: 0px;
}

.headline {
  background-color: $headline-bgc;
  text-align: center;
  padding: $headline-padding;
  > h3 {
    font: {
      weight: $headline-h3-font-weight;
    }
    margin: 0;
    color: $headline-h3-color;
  }
}

.headline-white {
  background-color: $headline-white-bgc;
  > h3 {
    color: $headline-white-h3-color;
  }
}