.content {
  margin: {
    top: $content-margin-top;
  }
}

.banner {
  overflow: hidden;
  height: $baner-heigth;
  position: relative;
  > img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }
}

.banner-title {
  padding: 20px;
  width: 50%;
  color: white;
  > h1 {
    font: {
      size: 42px;
    }
    line-height: 1.5;
  }
}